* {
    box-sizing: border-box;
    margin: 0.5%;
    padding: 0;
    background-color: white;
  }
  
  /*font style and font size*/
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: small;
    border-style: outset;
    border:1px solid black;
    border-radius: auto;
  }

.container {
    padding: 10px;
    margin: 10% 0;
    text-align: center;
}
  
/*nav bar setting*/
.top-navbar {
    display: flex;
    margin:0;
    justify-content: space-between;
  }

  /*start-quiz button setting*/
.start-button{
    outline:none;
    background-color:rgb(34, 34, 127);
    color:white;
}

button {
    outline: none;
    background-color: white;
    color: rgb(205, 46, 205);
    font-size:1.3em;
    border:none;
}

/*timer setting*/
p {
    color: black;
    font-size: 1.3em;;
}

/*quiz setting*/
section {
    text-align: center;
}